<% if @movie.errors.count > 0 %>
  <div id="flash" class="alert">
    <%= @movie.errors.full_messages.collect { |msg| msg }.join("<br>").html_safe %>
  </div>
<% end %>
<%= form_with model: @movie do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, cols: 60, rows: 10 %>
  </p>
  <p>
    <%= f.label :genre_id, "Genre" %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: true %>
  </p>
  <p>
    <%= f.label :has_subtitles %>
    <%= f.check_box :has_subtitles %>
  </p>
  <p>
    <%= f.label :director %>
    <%= f.text_field :director %>
  </p>
  <p>
  <%= f.label :placement %>
    <%= f.radio_button :placement, 'in_theaters' %>
    <%= f.label :placement_in_theaters, "In Theaters" %>
    <%= f.radio_button :placement, 'coming_soon' %>
    <%= f.label :placement_coming_soon, "Coming Soon" %>
    <%= f.radio_button :placement, 'go_now' %>
    <%= f.label :placement_go_now, "Go Now" %>
  </p>
  <p>
    <% mpaa_ratings = options_for_select Movie.all_mpaa_ratings, selected: @movie.mpaa_rating %>
    <%= f.label :mpaa_rating, "MPAA Rating" %>
    <%= f.select :mpaa_rating, mpaa_ratings, include_blank: true %>
  </p>
  <p>
    <%= f.label :release_date %>
    <%= f.date_select :release_date, order: [:month, :day, :year] %>
  </p>
  <p>
    <%= f.label :ticket_price %>
    <%= f.text_field :ticket_price %>
  </p>
  <p>
    <%= f.label :runtime %>
    <%= f.text_field :runtime %>
  </p>
  <p>
    <%= f.label :poster_image %>
    <%= f.text_field :poster_image %>
    <br>
    Please enter the filename of the poster image for this movie.
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
