/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	font-family: AbelRegular, sans-serif;
	/*line-height: 1.2;*/
	color: #666;
}
body.login {
	color: #FFF;
	background-color: #0b2036;
	background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#1d4e82), to(#0b2036));
	background-image: -webkit-radial-gradient(circle, #1d4e82, #0b2036);
	background-image: -moz-radial-gradient(circle, #1d4e82, #0b2036);
	background-image: -ms-radial-gradient(circle, #1d4e82, #0b2036);
	background-image: -o-radial-gradient(circle, #1d4e82, #0b2036);
	background-attachment: fixed;
}
.wrapper {
	padding: 0 15px;
}
h1, h2, h3, h4 {
	color: #000;
	font-weight: normal;
	margin: 0;
}
h2 {
	font-size: 24px;
	margin: 0 0 5px;
}
button, input, textarea, select {
	font-size: 85%;
	padding: 5px;
}
button, input, textarea {
	border: 1px solid #ccc;
}
textarea {
	margin-top: 5px;
	display: block;
}
label {
	margin-top: 10px;
	display: inline-block;
}
form p {
	margin-top: 5px;
}
form .button {
	font-size: 16px;
	text-transform: uppercase;
}
input[type="search"] {
	border: none;
	padding: 2px 10px;
	width: 120px;
	outline: none;
	-webkit-border-radius: 20px;
			border-radius: 20px;
}
ul {
	margin: 0;
	padding: 0;
}
.band {
	background: #000000;
	background: -moz-linear-gradient(top,  #000000 0%, #2e4f7c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#2e4f7c));
	background: -webkit-linear-gradient(top,  #000000 0%,#2e4f7c 100%);
	background: -o-linear-gradient(top,  #000000 0%,#2e4f7c 100%);
	background: -ms-linear-gradient(top,  #000000 0%,#2e4f7c 100%);
	background: linear-gradient(to bottom,  #000000 0%,#2e4f7c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#2e4f7c',GradientType=0 );
	-webkit-box-shadow: 0px -4px 14px rgba(160, 190, 230, 0.8);
	-moz-box-shadow:    0px -4px 14px rgba(160, 190, 230, 0.8);
	box-shadow:         0px -4px 14px rgba(160, 190, 230, 0.8);
}
.band a {
	color: #FFF;
}
.band-reverse {
	background: #2e4f7c;
	background: -moz-linear-gradient(top,  #2e4f7c 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e4f7c), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top,  #2e4f7c 0%,#000000 100%);
	background: -o-linear-gradient(top,  #2e4f7c 0%,#000000 100%);
	background: -ms-linear-gradient(top,  #2e4f7c 0%,#000000 100%);
	background: linear-gradient(to bottom,  #2e4f7c 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e4f7c', endColorstr='#000000',GradientType=0 );
}
header {
	background-color: #0A1D32;
	background-image: image-url('header-bg.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: auto 100%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min-resolution: 144dpi) {
	header {
		background-image: image-url('header-bg-2x.png');
	}
}
header .logo {
	margin: -5px -10px -5px;
	float: left;
}
header .search {
	float: right;
	padding: 25px 0 0;
}
.imgLeft {
	float: left;
}
nav.list {
	font-family: MedulaOneRegular, sans-serif;
}
nav.list li {
	background: #e7edf3;
	background: -moz-linear-gradient(top, #e7edf3 0%, #b1c3d9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7edf3), color-stop(100%,#b1c3d9));
	background: -webkit-linear-gradient(top, #e7edf3 0%,#b1c3d9 100%);
	background: -o-linear-gradient(top, #e7edf3 0%,#b1c3d9 100%);
	background: -ms-linear-gradient(top, #e7edf3 0%,#b1c3d9 100%);
	background: linear-gradient(to bottom, #e7edf3 0%,#b1c3d9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7edf3', endColorstr='#b1c3d9',GradientType=0 );
	margin-bottom: 1px;
}
nav.list a {
	color: #000;
	font-size: 22px;
	line-height: 40px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px 15px;
	display: block;
	text-shadow: 1px 2px 3px #666;
}
nav.list a:before {
	content: '>';
	float: right;
	margin-right: 5px;
	color: #365c8b;
}
nav.list span {
	width: 77px;
	display: inline-block;
	line-height: 0;
	vertical-align: 4px;
}
footer {
	font-size: 13px;
}
footer .logo {
	margin: 0;
}
footer .imgLeft {
	margin-right: 0;
}
.footer-links {
	margin: 7px 0 0 5px;
	line-height: 1.5;
}
.footer-links a {
	text-decoration: none;
}
.copyright {
	text-align: center;
	padding: 15px 0;
	color: #666;
}
body.login header .logo {
	text-align: center;
	float: none;
}
.login-form {
	padding: 0 20px;
	margin: 20px auto;
	text-align: center;
	max-width: 400px;
}
.login-form form {
	margin-bottom: 20px;
}
.login-form label {
	text-align: left;
	display: block;
	margin: 20px auto;
}
.login-form label input {
	width: 100%;
	padding: 5px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
			box-sizing: border-box;
}
.login-form p {
	margin: 5px 0;
}
.login-form p a {
	color: #fb8100;
}
.button {
	display: inline-block;
	font-family: AbelRegular, sans-serif;
	padding: 5px 11px;
	color: #fff;
	-webkit-border-radius: 5px;
			border-radius: 5px;
	background: #2e4f7c;
	background: -moz-linear-gradient(top, #2e4f7c 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e4f7c), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top, #2e4f7c 0%,#000000 100%);
	background: -o-linear-gradient(top, #2e4f7c 0%,#000000 100%);
	background: -ms-linear-gradient(top, #2e4f7c 0%,#000000 100%);
	background: linear-gradient(to bottom, #2e4f7c 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e4f7c', endColorstr='#000000',GradientType=0 );
	text-decoration: none;
}
nav.main {
	font-family: MedulaOneRegular, sans-serif;
	font-size: 22px;
	line-height: 1;
	text-transform: uppercase;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
nav.main li {
	float: left;
}
nav.main li a {
	display: block;
	text-decoration: none;
	padding: 10px 0 7px;
	margin-left: -1px;
}
nav.main li a span {
	display: block;
	padding: 0 10px;
	border-right: 1px solid #a65002;
}
nav.main li.active a {
	border-right: 1px solid #a65002;
	background: #ff8400;
	background-color: #e97601;
	background-image: -moz-linear-gradient(top, #ff8400, #c96003);
	background-image: -ms-linear-gradient(top, #ff8400, #c96003);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff8400), to(#c96003));
	background-image: -webkit-linear-gradient(top, #ff8400, #c96003);
	background-image: -o-linear-gradient(top, #ff8400, #c96003);
	background-image: linear-gradient(top, #ff8400, #c96003);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8400', endColorstr='#c96003', GradientType=0);
}
nav.main li.active a span,
nav.main li.last a span {
	border: none;
}
#main .wrapper {
	padding: 0px;
}
#flash {
	padding: 12px;
}
.alert {
	background: #fcc;
	border: 1px solid #800;
}
.notice {
	background: #cfc;
	border: 1px solid #080;
}
.tabgroup {
	margin-top: 20px;
}
.tabs {
	font-family: MedulaOneRegular, sans-serif;
	font-size: 22px;
	line-height: 1;
	border-bottom: 2px solid #ff8400;
	padding: 0 15px;
}
.tabs li {
	float: left;
	margin-right: 5px;
}
.tabs li a {
	color: white;
	text-decoration: none;
	background: #40689c;
	background: -moz-linear-gradient(top, #40689c 0%, #193151 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#40689c), color-stop(100%,#193151));
	background: -webkit-linear-gradient(top, #40689c 0%,#193151 100%);
	background: -o-linear-gradient(top, #40689c 0%,#193151 100%);
	background: -ms-linear-gradient(top, #40689c 0%,#193151 100%);
	background: linear-gradient(to bottom, #40689c 0%,#193151 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40689c', endColorstr='#193151',GradientType=0 );
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

	padding: 8px 10px;
	display: block;
	-webkit-border-radius: 5px 5px 0 0;
			border-radius: 5px 5px 0 0;
}
.tabs li.active a {
	background: #ff8400;
	background: -moz-linear-gradient(top, #ff8400 0%, #c96003 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8400), color-stop(100%,#c96003));
	background: -webkit-linear-gradient(top, #ff8400 0%,#c96003 100%);
	background: -o-linear-gradient(top, #ff8400 0%,#c96003 100%);
	background: -ms-linear-gradient(top, #ff8400 0%,#c96003 100%);
	background: linear-gradient(to bottom, #ff8400 0%,#c96003 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8400', endColorstr='#c96003',GradientType=0 );
}
.content-links-list li {
	display: block;
}
.content-links-list a {
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	color: inherit;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #deeafa 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#deeafa));
	background: -webkit-linear-gradient(top, #ffffff 0%,#deeafa 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#deeafa 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#deeafa 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#deeafa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#deeafa',GradientType=0 );
	display: block;
	border-bottom: 1px solid #dad9d9;
	padding: 7px 15px;
}
.content-links-list img {
		width: 57px;
	}
.content-links-list .imgLeft, .inset-block .imgLeft {
	margin-right: 20px;
}
.content-links-list a h3 {
	font-size: 18px;
	font-weight: normal;
	margin: 2px 0;
}
.content-links-list a .btn {
	text-transform: uppercase;
	padding: 3px 10px;
	margin-top: 2px;
}
#movie-info .poster-image {
	width: 30%;
}
#movie-info .overview {
	/*float: left;*/
/*	width: 45%;*/
}
#movie-info .mpaa-rating, 
#movie-info .runtime {
	margin: 0;
}
#movie-info .details {
	border: 1px solid #ccc;
	background: #f7f7f7;
	-webkit-border-radius: 5px;
			border-radius: 5px;
	padding: 15px;
	display: inline-block;
}
#movie-info .button {
	margin-top: 10px;
	display: inline;
}
#movie-info .details span { 
	color: #aaa;
	display: inline-block;
	width: 3.9em; 
}
#movie-info .details h4 {
	text-transform: uppercase;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
}
.reviewer-name {
	text-transform: uppercase;
	color: #000;
}
.rating {
	background: image-url('star-rating-sprite.png') no-repeat;
	display: inline-block;
	width: 70px;
	height: 13px;
	text-indent: -9999px;
	margin-right: 5px;
	vertical-align: -1px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min-resolution: 144dpi) {
	.rating {
		background: image-url('star-rating-sprite-2x.png') no-repeat;
		background-size: 70px 65px;
	}
}
.rating.star2 {
	background-position: 0 -13px;
}
.rating.star3 {
	background-position: 0 -26px;
}
.rating.star4 {
	background-position: 0 -39px;
}
.rating.star5 {
	background-position: 0 -52px;
}
.review-info {
	border-top: 1px solid #ccc;
	padding-top: 15px;
	margin-bottom: -10px;
}
.review-info:first-child {
	border: 0;
	padding-top: 0;
	margin-top: 5px;
}
.inset-block {
	padding: 15px;
}
a.more-movies {
	color: #14365b;
	text-decoration: none;
	text-transform: uppercase;
}
form.showtimes label {
	display: inline-block;
	white-space: nowrap;
	margin: 10px 20px 0 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 649px) {
	
}
@media only screen and (max-width: 859px) {
	#movie-info .details {
		margin-top: 15px;
	}
}
@media only screen and (min-width: 480px) {
	#movie-info .poster-image {
		margin-right: 30px;
	}
	#movie-info  {
		margin: 8px 0;
	}
	.content-links-list {
		padding: 0px 15px;
	}
	.content-links-list a {
		float: left;
		width: 50%;
		padding: 7px 0px;
	} 
}
@media only screen and (min-width: 480px) and (max-width: 859px) {
	#movie-info .poster-image {
		width: 50%;
	}
}
@media only screen and (min-width: 650px) {
	.content-links-list img {
		width: 75px;
	}
}
@media only screen and (min-width: 860px) {
	#movie-info .details {
		float: right;
	}
	#movie-info .overview {
		float: left;
		width: 39%;
		padding-right: 5px;
	}
	.content-links-list {
		padding: 15px 15px 0 15px;
	}
	.content-links-list a {
		width: 25%;
		background: transparent;
	}
	.content-links-list img {
		width: 160px;
		float: none;
		margin-bottom: 8px;
	}
	.content-links-list .button {
		margin-top: 8px;
	}
}
@media only screen and (min-width: 980px) {
	.wrapper {
		max-width: 950px;
		margin: auto;
	}
	#main .wrapper {
		max-width: 980px;
		margin: auto;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min-resolution: 144dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow:none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
